* {
    font-family:"Montserrat", sans-serif;
  }

body {
	margin: 1rem;
	background-color: #f2e8f0;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-color: rgb(183 116 138);
    border-radius: 1rem;
    border-style: solid;
    align-items: center;
}
header img ,
header a {
	margin: 1rem;
	text-decoration: none;
	color: black;
}
.img-fluid {
    height: 10rem;
}
.btn-warning,
.form-control {
	background-color: #ffeaab; /* jaune */
	border-color: rgb(183 116 138); /* violet */
	border-radius: 1rem;
}
.border-warning {
	border-color: rgb(183 116 138) !important; /* violet */
	border-radius: 1rem !important;
}
.imageProduit {
	height: 30rem;
}

h3 { color: black; }
label,
p {
	color: rgb(183 116 138); /* violet */
}





.form-row {
	flex-direction: column;
}


@media (max-width: 770px) {
	.img-fluid {
    	height: 20rem;
	}
}