* {
    font-family:"Montserrat", sans-serif;
  }

body {
	background-color: #f2e8f0;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-color: #9c3759;
    border-radius: 2rem;
    border-style: solid;
    align-items: center;
}
header img ,
header a {
	margin: 1rem;
	text-decoration: none;
	color: black;
}

.container-ours {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
}
.case-ours {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-color: #9c3759;
    border-radius: 2rem;
    border-style: solid;
    margin: 1rem;
}
.case-ours h4 {
	margin-bottom: 0;
}
.img-ours {
	width: 16rem;
	height: 14rem;
	box-sizing: border-box;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	border-color: #9c3759;
    border-bottom-style: solid;
}
